Repository googleapis/python-monitoring, pull requests merged in 2021-03, with the labels that each got.

#88 feat: Adding labels to the metric descriptor in the snippets.py
  samples/snippets/v3/cloud-client/snippets.py
Labels: api: monitoring, automerge, cla: yes

#63 chore: require samples checks
  .github/sync-repo-settings.yaml
Labels: api: monitoring, automerge, cla: yes, samples

#71 docs: remove code snippet and 'Stackdriver'
  README.rst
Labels: api: monitoring, automerge, cla: yes

#91 fix: fix `as_dataframe`
  google/cloud/monitoring_v3/_dataframe.py
  noxfile.py
  samples/snippets/v3/cloud-client/snippets.py
  synth.py
  tests/unit/test__dataframe.py
Labels: api: monitoring, cla: yes

#94 chore: Updating testing, linting, etc
  .github/header-checker-lint.yml
  .gitignore
  .kokoro/build.sh
  .kokoro/docs/docs-presubmit.cfg
  .trampolinerc
  CONTRIBUTING.rst
  LICENSE
  MANIFEST.in
  docs/_static/custom.css
  google/cloud/monitoring_v3/__init__.py
  samples/snippets/v3/alerts-client/noxfile.py
  samples/snippets/v3/cloud-client/noxfile.py
  samples/snippets/v3/uptime-check-client/noxfile.py
  synth.metadata
Labels: api: monitoring, cla: yes, context: partial

#98 chore: update templates
  google/cloud/monitoring_v3/__init__.py
  renovate.json
  synth.metadata
Labels: api: monitoring, cla: yes, context: partial

#106 chore: sort class names
  google/cloud/monitoring_v3/__init__.py
  synth.metadata
Labels: api: monitoring, cla: yes, context: full

#111 build(python): update docfx job to use new plugin
  google/cloud/monitoring_v3/__init__.py
  noxfile.py
  synth.metadata
Labels: api: monitoring, cla: yes, context: partial
