Repository googleapis/python-monitoring, pull requests merged in 2021-04, with the labels that each got.

#112 chore: sort class names
  google/cloud/monitoring_v3/__init__.py
  synth.metadata
Labels: api: monitoring, cla: yes, context: none

#115 chore: sort classes
  google/cloud/monitoring_v3/__init__.py
  synth.metadata
Labels: api: monitoring, cla: yes, context: full

#116 chore: add license headers
  .pre-commit-config.yaml
  docs/conf.py
  google/cloud/monitoring_v3/__init__.py
  synth.metadata
Labels: api: monitoring, automerge, cla: yes, context: partial

#118 chore: add constraints file check for python samples
  .github/header-checker-lint.yml
  google/cloud/monitoring_v3/__init__.py
  renovate.json
  samples/snippets/v3/alerts-client/noxfile.py
  samples/snippets/v3/cloud-client/noxfile.py
  samples/snippets/v3/uptime-check-client/noxfile.py
  synth.metadata
Labels: api: monitoring, cla: yes, context: partial

#123 chore: prevent normalization of semver versioning
  setup.py
Labels: api: monitoring, cla: yes

#126 chore(revert): revert preventing normalization
  setup.py
Labels: api: monitoring, automerge, cla: yes
